こんにちは ${学生名}

ご連絡ありがとうございます。リクエストを完了するには、以下に提供される確認コードを使用してください。このコードは次の 1 分間有効です。

検証コード: ${verificationCode}

このコードは指定された期限内に必ず使用してください。コードの有効期限が切れた場合は、新しいコードをリクエストする必要があります。

ご心配いただきありがとうございます。

よろしくお願いします、

トランドン